<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianjian.ods.dao.targetdetails.ITargetDetail0403Dao">
	<sql id="HSPIDS">
		<foreach collection="hspIds" index="index" item="hsp" open="(" close=")" separator=",">
			#{hsp}
		</foreach>
	</sql>
	<resultMap id="indicatorsBean" type="com.tianjian.ods.bean.IndicatorsBean"></resultMap>
    <select id="companyTable" parameterType="Map" resultMap="indicatorsBean">
    	select t1.parentItemCode itemCode,t1.parentItemName itemName,
 		round(case when sum(IFNULL(t3.cnt3,0))=0 then 0 else sum(IFNULL(t2.cnt2,0))/sum(t3.cnt3)/(datediff(#{endDate},#{startDate})+1)* 100 end,2) count
          
		from
		  (
		    select t.hospital hospital, sum(Inp_bed_day) cnt2
		    from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex)
		    where t.hospital in <include refid="HSPIDS"></include>
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<]]> #{endDate} 
			group by t.hospital	
		  ) t2
		left join
		(
			select hcb.id as itemCode, hcb.item_name as itemName, parent.id as parentItemCode, parent.item_name as parentItemName, hcb.seq_no as seqNo
			from hsp.hsp_config_baseinfo hcb, hsp.hsp_config_baseinfo parent
			where hcb.parent_item_code = parent.id 
		and hcb.id in <include refid="HSPIDS"></include>
		and length(hcb.item_code)=10
		) t1
		  on t1.itemCode = t2.hospital
		left join
		  (
		    select t.hospital hospital, sum(Bed_count) cnt3
		    from  ods.ODS_HOSPITAL_RESOURCE_NEW t
		    where t.hospital in <include refid="HSPIDS"></include>
		    AND DATE_FORMAT(Year,'%Y')= DATE_FORMAT(#{endDate},'%Y')
		
			group by t.hospital	
		  ) t3
		  on t1.itemCode = t3.hospital
		  where t2.cnt2>0
		group by t1.parentItemName
		order by t1.seqNo
    
	</select>
    <!-- 同级对比页面列表 -->
	<select id="hspTable" parameterType="Map" resultMap="indicatorsBean">
	select t1.item_code as itemCode, t1.item_name as itemName,
	round(case when IFNULL(t3.cnt3,0)=0 then 0 else IFNULL(t2.cnt2,0)/t3.cnt3/(datediff(#{endDate},#{startDate})+1)* 100 end,2) count
	from hsp.hsp_config_baseinfo t1
	left join
	 (select t.hospital hospital, sum(Inp_bed_day) cnt2
			from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex)
			where t.hospital in <include refid="HSPIDS"></include>
		and t.visit_date >= #{startDate}
		and t.visit_date<![CDATA[<]]> #{endDate} 
		group by t.hospital	
		) t2
	on t1.item_code = t2.hospital
	left join
		(select t.hospital hospital, sum(Bed_count) cnt3
			from  ods.ODS_HOSPITAL_RESOURCE_NEW t
			where t.hospital in <include refid="HSPIDS"></include>
			AND DATE_FORMAT(Year,'%Y')= DATE_FORMAT(#{endDate},'%Y')
			group by t.hospital	
		) t3
	on t1.item_code = t3.hospital
	where length(t1.item_code)=10
	and t1.id in <include refid="HSPIDS"></include> 
	having count>0
	order by count desc
	</select>
	<!-- 同级平均值 -->
	<select id="hspLevelAvg" parameterType="Map" resultMap="indicatorsBean">
	 select NULL itemCode,NULL  itemName,NULL count from dual WHERE 1!=1;
	</select>
	
<select id="firstRequestTable" parameterType="Map" resultMap="indicatorsBean">
    
         select t1.itemCode itemCode,t1.itemName itemName, 			
 round(case when IFNULL(t3.cnt3,0)=0 then 0 else IFNULL(t2.cnt2,0)/t3.cnt3 /(datediff(#{endDate},#{startDate})+1)* 100 end,2) count 
          
		from
		  (
		    select t.hospital hospital, sum(Inp_bed_day) cnt2
		    from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex)
		    where t.hospital in (select id from hsp.hsp_config_baseinfo where parent_item_code = #{parentId} and id in <include refid="HSPIDS"></include> and length(item_code)=10)
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<]]> #{endDate} 
			group by t.hospital	
		  ) t2
		left join
		(
			select hcb.id as itemCode, hcb.item_name as itemName, hcb.seq_no as seqNo
			from hsp.hsp_config_baseinfo hcb
			where hcb.parent_item_code = #{parentId}
		and hcb.id in <include refid="HSPIDS"></include>
		and length(hcb.item_code)=10
		) t1
		  on t1.itemCode = t2.hospital
		left join
		  (
		    select t.hospital hospital, sum(Bed_count) cnt3
		    from  ods.ODS_HOSPITAL_RESOURCE_NEW t
		    where t.hospital in (select id from hsp.hsp_config_baseinfo where parent_item_code = #{parentId} and id in <include refid="HSPIDS"></include> and length(item_code)=10)
		    AND DATE_FORMAT(Year,'%Y')= DATE_FORMAT(#{endDate},'%Y')
		
			group by t.hospital	
		  ) t3
		  on t1.itemCode = t3.hospital
		  where t2.cnt2>0
		  order by t1.seqNo
	</select>
    <select id="getSecondData" parameterType="Map" resultMap="indicatorsBean">
        select t1.itemCode itemCode,t1.itemName itemName,
        round(case when IFNULL(t3.cnt3,0)=0 then 0 else IFNULL(t2.cnt2,0)/t3.cnt3/(datediff(#{endDate},#{startDate})+1)* 100  end,2) count 
        
        from
		 (
		 	select concat(t.hospital,'-',t.dept_code) itemCode,sum(Inp_bed_day) cnt2 
		 	from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex) 
		 	where t.hospital= #{hspId}
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<]]> #{endDate} 
		 	group by concat(t.hospital,'-',t.dept_code)
		 ) t2
		 join
		(
			select concat(b.hospital,'-',b.dept_code) itemCode,b.dept_name itemName
			from ods.dept_dict b
			where b.hospital=#{hspId}
		) t1
		on t1.itemCode=t2.itemCode
		 join
		 (
		 	select concat(t.hospital,'-',t.dept_code) itemCode,sum(Bed_count) cnt3
		 	from  ods.ODS_HOSPITAL_RESOURCE_NEW t 
		 	where t.hospital= #{hspId}
		    AND DATE_FORMAT(Year,'%Y') = DATE_FORMAT(#{endDate},'%Y')
		 	group by concat(t.hospital,'-',t.dept_code)
		 ) t3
		 on t1.itemCode=t3.itemCode
		where t2.cnt2>0
		 order by count desc

	</select>
    <select id="getThirdData"  parameterType="Map" resultMap="indicatorsBean">

	</select>
    <select id="comparedEcharts" parameterType="Map" resultMap="indicatorsBean">
    
    
        SELECT id,itemname,
		ROUND(CASE WHEN IFNULL(this_times,0)=0 THEN 0 ELSE this_days/this_times/ (datediff(#{endDate},#{startDate})+1)*100   END ,2) countNew,
	    ROUND(CASE WHEN IFNULL(last_times,0)=0 THEN 0 ELSE last_days/last_times END/ (datediff(concat((date_format(#{endDate},'%Y')- 1),date_format(#{endDate},'-%m-%d')),concat(date_format(#{startDate},'%Y') - 1 ,date_format(#{startDate},'-%m-%d')))+1)*100 ,2) countOld
FROM(
SELECT 
  hsp.id 

 AS id,
  hsp.item_Name itemName,
       (SELECT SUM(Inp_bed_day) InpBedDay
       from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex) 

      WHERE t.visit_date >= #{startDate}
        AND t.visit_date  <![CDATA[<]]> #{endDate}
        AND hospital=hsp.id
        ) this_days
        ,
      (SELECT sum(Bed_count) BedCount   FROM ods.ODS_HOSPITAL_RESOURCE_NEW t
      WHERE  
		 DATE_FORMAT(YEAR, '%Y')  = DATE_FORMAT(#{endDate}, '%Y') 
        AND hospital=hsp.id 

	) this_times,
    (SELECT SUM(Inp_bed_day) InpBedDay
       from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex) 
      WHERE 
		t.visit_date>= concat(cast(date_format(#{startDate},'%Y') - 1 as CHAR),date_format(#{startDate},'-%m-%d'),' 00:00:00.0')

        AND t.visit_date  <![CDATA[<]]> CONCAT(DATE_FORMAT(#{endDate},'%Y')-1 ,DATE_FORMAT(#{endDate},'-%m-%d'),' 23:59:59.0')
        AND hospital=hsp.id 

        ) last_days
        ,
      (SELECT SUM(Bed_count) BedCount   FROM ods.ODS_HOSPITAL_RESOURCE_NEW t 
          WHERE DATE_FORMAT(YEAR, '%Y')  = (DATE_FORMAT(#{endDate}, '%Y') -1)

        AND hospital=hsp.id 

	) last_times
FROM hsp.hsp_config_baseinfo hsp  
  WHERE hsp.id in <include refid="HSPIDS"></include>
 ) a

	</select>
    <select id="pieEcharts1" parameterType="Map" resultMap="indicatorsBean">
		
	</select>
    <select id="pieEcharts2" parameterType="Map" resultMap="indicatorsBean">

    </select>
    <select id="lineEcharts" parameterType="Map" resultMap="indicatorsBean">
		select hospital itemCode,
		(select hcb.item_name  from hsp.hsp_config_baseinfo hcb
		where hcb.id = hospital) itemName,
		dateStr dateData, round(bedDays/bedCount /
		(case when concat(dateStr,'-12-31') <![CDATA[<]]>#{endDate}
		then
		case when #{startDate}  <![CDATA[<=]]> concat(dateStr,'-01-01')
		then
		Datediff(concat(dateStr,'-12-31'),concat(dateStr,'-01-01'))+1
		else
		Datediff(concat(dateStr,'-12-31'),#{startDate})+1
		end
		else
		Datediff(#{endDate},concat(dateStr,'-01-01'))+1
		end)*100,2) count
		from(
		select hospital,date_format(visit_date,'%Y') dateStr, sum(inp_bed_day) bedDays,
		(select sum(Bed_count) BedCount
		from ods.ODS_HOSPITAL_RESOURCE_NEW a
		where DATE_FORMAT(YEAR,'%Y')  =  DATE_FORMAT(#{endDate},'%Y')
		and a.hospital = t.hospital
		) bedCount
		from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex)
		where t.hospital in <include refid="HSPIDS"></include>
		AND visit_date >= #{startDate}
		AND visit_date <![CDATA[<]]>#{endDate}
		group by t.hospital, date_format(visit_date,'%Y')) c

	</select>
	<!-- 同比同级别 -->
	<select id="comparedEchartsAvg" parameterType="Map" resultMap="indicatorsBean">
		SELECT id,itemname,
		ROUND(CASE WHEN IFNULL(this_times,0)=0 THEN 0 ELSE this_days/this_times/ (datediff(#{endDate},#{startDate})+1)*100   END ,2) countNew,
	    ROUND(CASE WHEN IFNULL(last_times,0)=0 THEN 0 ELSE last_days/last_times END/ (datediff(concat((date_format(#{endDate},'%Y')- 1),date_format(#{endDate},'-%m-%d')),concat(date_format(#{startDate},'%Y') - 1 ,date_format(#{startDate},'-%m-%d')))+1)*100 ,2) countOld
		FROM(SELECT hsp.id AS id,hsp.item_Name itemName,
       		(SELECT SUM(Inp_bed_day) InpBedDay
       		 from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex) 
			 WHERE t.visit_date >= #{startDate}
        	 AND t.visit_date  <![CDATA[<]]> #{endDate}
        	 AND hospital=hsp.id
        ) this_days,
       (SELECT sum(Bed_count) BedCount 
        FROM ods.ODS_HOSPITAL_RESOURCE_NEW t
        WHERE   DATE_FORMAT(YEAR, '%Y')  = DATE_FORMAT(#{endDate}, '%Y') 
        AND hospital=hsp.id 
		) this_times,
      (SELECT SUM(Inp_bed_day) InpBedDay
       from ods.ods_WORK_LOAD t force index(WORK_LOAD_sumindex) 
       WHERE t.visit_date>= concat(cast(date_format(#{startDate},'%Y') - 1 as CHAR),date_format(#{startDate},'-%m-%d'),' 00:00:00.0')
       AND t.visit_date  <![CDATA[<]]> CONCAT(DATE_FORMAT(#{endDate},'%Y')-1 ,DATE_FORMAT(#{endDate},'-%m-%d'),' 23:59:59.0')
       AND hospital=hsp.id 
       ) last_days,
      (SELECT SUM(Bed_count) BedCount   FROM ods.ODS_HOSPITAL_RESOURCE_NEW t 
       WHERE DATE_FORMAT(YEAR, '%Y')  = (DATE_FORMAT(#{endDate}, '%Y') -1)
        AND hospital=hsp.id 
	  ) last_times
FROM hsp.hsp_config_baseinfo hsp  
where  LENGTH(hsp.id)=10
and hsp.comm_config_unitgrade_id=(select comm_config_unitgrade_id from hsp.hsp_config_baseinfo 
where item_Name=#{hspName})
 ) a
	</select>
</mapper>