<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianjian.ods.dao.targetdetails.ITargetDetail0703Dao">
	<sql id="HSPIDS">
		<foreach collection="hspIds" index="index" item="hsp" open="(" close=")" separator=",">
			#{hsp}
		</foreach>
	</sql>
	<resultMap id="indicatorsBean" type="com.tianjian.ods.bean.IndicatorsBean"></resultMap>
    <select id="companyTable" parameterType="Map" resultMap="indicatorsBean">
		select t1.parentItemCode itemCode,t1.parentItemName itemName,sum(ifnull(t2.cnt,0)) count
		from
		  (
		    select hcb.id as itemCode, hcb.item_name as itemName, parent.id as parentItemCode, parent.item_name as parentItemName, hcb.seq_no as seqNo
			from hsp.hsp_config_baseinfo hcb, hsp.hsp_config_baseinfo parent
			where hcb.parent_item_code = parent.id 
		and hcb.id in <include refid="HSPIDS"></include>
		and length(hcb.item_code)=10
		) t1
		  left join
		  (
		    select t.hospital hospital, count(*) cnt
		    from  dc.clinic_master t
		    where t.hospital in <include refid="HSPIDS"></include>
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<=]]> #{endDate} + 1
			group by t.hospital
		  ) t2
		  on t1.itemCode = t2.hospital
		group by t1.parentItemName
		order by t1.seqNo
	</select>

<select id="firstRequestTable" parameterType="Map" resultMap="indicatorsBean">

		select t1.itemCode itemCode,t1.itemName itemName,ifnull(t2.cnt,0) count
		from
		  (
		    select hcb.id as itemCode, hcb.item_name as itemName, hcb.seq_no as seqNo
			from hsp.hsp_config_baseinfo hcb
			where hcb.parent_item_code = #{parentId}
		and hcb.id in <include refid="HSPIDS"></include>
		and length(hcb.item_code)=10
		  ) t1
		  left join
		  (
		    select t.hospital hospital, count(*) cnt
		    from  dc.clinic_master t
		    where t.hospital in (select id from hsp.hsp_config_baseinfo where parent_item_code = #{parentId} and id in <include refid="HSPIDS"></include> and length(item_code)=10)
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<=]]> #{endDate} + 1
			group by t.hospital
		  ) t2
		  on t1.itemCode = t2.hospital
		order by t1.seqNo
	</select>
    <select id="getSecondData" parameterType="Map" resultMap="indicatorsBean">
		select t1.itemCode itemCode,t1.itemName itemName,ifnull(t2.cnt,0) count from
		 (
		 	select b.hospital||'-'||b.dept_code itemCode,b.dept_name itemName
		 	from ods.dept_dict b
		 	where b.hospital=#{hspId}
		 ) t1
		 left join
		 (
		 	select t.hospital||'-'||t.dept_code itemCode,count(*)cnt
		 	from dc.clinic_master t
		 	where t.hospital= #{hspId}
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<=]]> #{endDate} + 1
		 	group by t.hospital||'-'||t.dept_code
		 ) t2
		 on t1.itemCode=t2.itemCode
		 order by ifnull(t2.cnt,0) desc
	</select>
    <select id="getThirdData"  parameterType="Map" resultMap="indicatorsBean">
		select t1.itemCode itemCode,t1.itemName itemName,ifnull(t2.cnt,0)count from
		 (
		 	select sd.hospital||'-'||sd.dept_code||'-'||sd.emp_no as itemCode,sd.name as itemName
		 	from dc.staff_dict sd
		 	where sd.hospital=#{hspId} and sd.dept_code=#{deptCode}
		 ) t1
		 left join
		 (
		 	select t.hospital||'-'||t.dept_code||'-'||t.doctor itemCode,count(*)cnt
		 	from dc.clinic_master t
		 	where t.hospital=#{hspId} and t.dept_code=#{deptCode}
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<=]]> #{endDate} + 1
		 	group by t.hospital||'-'||t.dept_code||'-'||t.doctor
		  ) t2
		  on t1.itemCode=t2.itemCode
		  order by ifnull(t2.cnt,0) desc
	</select>
    <select id="comparedEcharts" parameterType="Map" resultMap="indicatorsBean">
		select b.itemCode itemCode,b.itemName itemName,ifnull(sum(b.newCount),0) countNew,ifnull(sum(b.oldCount),0) countOld
		from (
			select hcb.id as itemCode,hcb.item_name as itemName,
			case when t.visit_date>#{startDate} and t.visit_date <![CDATA[<=]]> #{endDate} then 1 else 0 end newCount,
			case when t.visit_date>#{startDate} and t.visit_date <![CDATA[<=]]> #{endDate} then 1 else 0 end oldCount
			from hsp.hsp_config_baseinfo hcb
			left join dc.clinic_master t on t.hospital = hcb.id
			where hcb.id in <include refid="HSPIDS"></include>
			) b
		group by b.itemCode,b.itemName order by b.itemCode
	</select>
    <select id="pieEcharts1" parameterType="Map" resultMap="indicatorsBean">
		select t1.itemCode itemCode,t1.itemName itemName,ifnull(t2.cnt,0) count
		from
			(select hcb.id as itemCode, hcb.item_name as itemName
			from hsp.hsp_config_baseinfo hcb
		 	where hcb.id in <include refid="HSPIDS"></include>
		 	) t1
			left join
			(select t.hospital hospital, count(*)cnt
			from dc.clinic_master t
		  	where t.hospital in <include refid="HSPIDS"></include>
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<=]]> #{endDate} + 1
			group by t.hospital
			) t2
			on t1.itemCode = t2.hospital
		order by t1.itemCode
	</select>
    <select id="pieEcharts2" parameterType="Map" resultMap="indicatorsBean">
		select t1.itemName itemName,ifnull(t2.count,0) count
		from
			(
			select t.charge_type itemName, count(*) count
			from dc.clinic_master t
			where t.hospital in <include refid="HSPIDS"></include>
			group by t.charge_type) t1
			left join
			(
			select t.charge_type itemName, count(*) count
			from dc.clinic_master t
			where t.hospital in <include refid="HSPIDS"></include>
			and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<=]]> #{endDate} + 1
			group by t.charge_type) t2
			on t1.itemName = t2.itemName
		order by t1.itemName
	</select>
    <select id="lineEcharts" parameterType="Map" resultMap="indicatorsBean">
		select t1.itemCode itemCode,t1.itemName itemName,t2.dateData dateData,ifnull(t2.cnt,0) count
		from
            (
            select hcb.id as itemCode, hcb.item_name as itemName from hsp.hsp_config_baseinfo hcb
            where hcb.id in <include refid="HSPIDS"></include>
            ) t1
            left join
            (
            select t.hospital hospital,date_format(t.visit_date,'${dateFormater}') dateData, count(*) cnt
		    from dc.clinic_master t
		    where t.hospital in <include refid="HSPIDS"></include>
		    and t.visit_date >= #{startDate}
			and t.visit_date<![CDATA[<=]]> #{endDate} + 1
			group by t.hospital,date_format(t.visit_date,'${dateFormater}')
			) t2
			on t1.itemCode = t2.hospital
        order by t1.itemCode
	</select>

</mapper>