<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianjian.ods.dao.targetdetails.ITargetDetail0606Dao">
	<sql id="HSPIDS">
		<foreach collection="hspIds" index="index" item="hsp" open="(" close=")" separator=",">
			#{hsp}
		</foreach>
	</sql>
	<resultMap id="indicatorsBean" type="com.tianjian.ods.bean.IndicatorsBean"></resultMap>
<select id="companyTable" parameterType="Map" resultMap="indicatorsBean">
select t1.itemCode itemCode,t1.itemName itemName,round(sum(ifnull(t2.cnt,0)),2) count
from
	(select  hsp.id as itemCode, hsp.item_name as itemName, hsp.seq_no as seqNo
	 from  hsp.hsp_config_baseinfo hsp
	 where 1=1
     and hsp.id in <include refid="HSPIDS"></include>
	 and length(hsp.item_code)=8
	 ) t1
left join
		(select t.F_DWBH hospital, sum(F_ZB_GD)/10000 cnt
		 from  ods.financial_expenditure t
		 where 1=1
    	 and t.F_DWBH in  <include refid="HSPIDS"></include>
		 and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') >= #{startDate}
		 and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')<![CDATA[<]]> #{endDate} 
		 group by t.F_DWBH
		  ) t2
on t1.itemCode = t2.hospital
group by t1.itemCode
order by t1.seqNo
</select>
<!-- 同级对比页面列表 -->
<select id="hspTable" parameterType="Map" resultMap="indicatorsBean">
select t1.item_code as itemCode, t1.item_name as itemName,
round(ifnull(sum(ifnull(t2.cnt,0))/sum( case when t2.cnt>0 then 1 else 0 end),0.00),2) count
	from hsp.hsp_config_baseinfo t1
left join
(select t.F_DWBH hospital, sum(F_ZB_GD)/10000 cnt
 from  ods.financial_expenditure t
 where 1=1
 and t.F_DWBH in  <include refid="HSPIDS"></include>
 and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') >= #{startDate}
 and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')<![CDATA[<]]> #{endDate} 
 group by t.F_DWBH
  ) t2
on t1.item_code = t2.hospital
where length(t1.item_code)=10
and t1.id in <include refid="HSPIDS"></include> 
group by t1.item_code
order by count desc
</select>
<!-- 同级平均值 -->
<select id="hspLevelAvg" parameterType="Map" resultMap="indicatorsBean">
 select NULL itemCode,NULL  itemName,NULL count from dual WHERE 1!=1;
</select>
<select id="firstRequestTable" parameterType="Map" resultMap="indicatorsBean">
select t1.itemCode itemCode,t1.itemName itemName,round(sum(ifnull(t2.cnt,0)),2) count
from
	  (select  hsp.id as itemCode, hsp.item_name as itemName, hsp.seq_no as seqNo
	   from  hsp.hsp_config_baseinfo hsp
	   where 1=1
       and  hsp.id in (select id from hsp.hsp_config_baseinfo where parent_item_code = #{parentId} and id in <include refid="HSPIDS"></include> and length(item_code)=10)
		) t1
left join
		(select t.F_DWBH hospital, sum(F_ZB_GD)/10000 cnt
		 from  ods.financial_expenditure t
		 where 1=1
		 and t.F_DWBH in (select id from hsp.hsp_config_baseinfo where parent_item_code = #{parentId} and id in <include refid="HSPIDS"></include> and length(item_code)=10)
		 and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') >= #{startDate}
		and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')<![CDATA[<]]> #{endDate} 
		 group by t.F_DWBH
		  ) t2
on t1.itemCode = t2.hospital
group by t1.itemCode
order by t1.seqNo;
</select>
    <select id="getSecondData" parameterType="Map" resultMap="indicatorsBean">
		
	</select>
    <select id="getThirdData"  parameterType="Map" resultMap="indicatorsBean">
		
	</select>
   <select id="comparedEcharts" parameterType="Map" resultMap="indicatorsBean">
 select hsp.id,hsp.item_Name itemName,
		(select round(IFNULL(sum(F_ZB_GD),0)/10000,2) thisYear
		from ods.financial_expenditure t
		where str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')>= #{startDate}
		and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') <![CDATA[<]]> #{endDate}
		and t.F_DWBH=hsp.id) countNew,
		(select round(IFNULL(sum(F_HJ),0)/10000,2)
		from ods.financial_expenditure t
		where 1=1
		and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')>= concat(date_format(#{startDate},'%Y')- 1,date_format(#{startDate},'-%m-%d'))
		and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') <![CDATA[<]]> concat(date_format(#{endDate},'%Y') - 1 ,date_format(#{endDate},'-%m-%d'),' 23:59:59.0')
		and t.F_DWBH=hsp.id) countOld
	from hsp.hsp_config_baseinfo hsp
	where 1=1
	and length(hsp.item_code)=10
	and hsp.id in <include refid="HSPIDS"></include>
</select>
<select id="pieEcharts1" parameterType="Map" resultMap="indicatorsBean">
select t1.itemCode itemCode,t1.itemName itemName,ifnull(t2.cnt,0) count
from
  (select hcb.id as itemCode, hcb.item_name as itemName
  from hsp.hsp_config_baseinfo hcb
  where 1=1
  and length(hcb.item_code)=10
  and hcb.id in <include refid="HSPIDS"></include>
  ) t1
left join
  (select t.F_DWBH hospital, round(IFNULL(SUM(F_ZB_GD),0)/10000,2) cnt
  from ods.financial_expenditure t
    where t.F_DWBH in <include refid="HSPIDS"></include>
  and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') >= #{startDate}
  and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')<![CDATA[<]]> #{endDate} 
  group by t.F_DWBH
  ) t2
on t1.itemCode = t2.hospital
order by t1.itemCode
</select>
<select id="pieEcharts2" parameterType="Map" resultMap="indicatorsBean">
select '固定资产总值' itemName,sum(F_ZB_GD) cnt 
from ods.financial_expenditure a, hsp.hsp_config_baseinfo b
	where a.F_DWBH = b.id
	and length(b.item_code)=10
	and a.F_DWBH in <include refid="HSPIDS"></include>
	and str_to_date(CONCAT(a.F_DATE,'01'), '%Y%m%d') >= #{startDate}
	and str_to_date(CONCAT(a.F_DATE,'01'), '%Y%m%d')<![CDATA[<]]> #{endDate} 
</select>
<select id="lineEcharts" parameterType="Map" resultMap="indicatorsBean">
select t1.itemCode itemCode,t1.itemName itemName,
	   t2.dateData dateData,t2.cnt count
from
	(select hcb.id as itemCode, hcb.item_name as itemName from hsp.hsp_config_baseinfo hcb
		where 1=1
		and length(hcb.item_code)=10
		and hcb.id in <include refid="HSPIDS"></include>
		) t1
left join
       (select t.F_DWBH hospital, date_format(str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d'),#{dateFormater})  dateData, 
        round(IFNULL(sum(F_ZB_GD),0)/10000,2) cnt
		from ods.financial_expenditure t
		where 1=1 
		and length(t.F_DWBH)=10
		and t.F_DWBH in <include refid="HSPIDS"></include>
        and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') >= #{startDate}
        and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')<![CDATA[<]]> #{endDate} 
		group by t.F_DWBH,dateData 
		) t2
on t1.itemCode = t2.hospital
order by t1.itemCode
</select>
	<!-- 同比同级别 -->
	<select id="comparedEchartsAvg" parameterType="Map" resultMap="indicatorsBean">
	select hsp.id,hsp.item_Name itemName,
		(select round(IFNULL(sum(F_ZB_GD),0)/10000,2) thisYear
		from ods.financial_expenditure t
		where str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')>= #{startDate}
		and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') <![CDATA[<]]> #{endDate}
		and t.F_DWBH=hsp.id) countNew,
		(select round(IFNULL(sum(F_HJ),0)/10000,2)
		from ods.financial_expenditure t
		where 1=1
		and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d')>= concat(date_format(#{startDate},'%Y')- 1,date_format(#{startDate},'-%m-%d'))
		and str_to_date(CONCAT(t.F_DATE,'01'), '%Y%m%d') <![CDATA[<]]> concat(date_format(#{endDate},'%Y') - 1 ,date_format(#{endDate},'-%m-%d'),' 23:59:59.0')
		and t.F_DWBH=hsp.id) countOld
	from hsp.hsp_config_baseinfo hsp
	where 1=1
	and length(hsp.item_code)=10
	and hsp.comm_config_unitgrade_id=(select comm_config_unitgrade_id from hsp.hsp_config_baseinfo 
	where item_Name=#{hspName});
	</select>
</mapper>